*.bsv binary
*.BSV binary
*.com binary
*.COM binary
*.def binary
*.DEF binary
*.dat binary
*.DAT binary
*.exe binary
*.EXE binary

*.mak text eol=crlf
*.MAK text eol=crlf
*.bi text eol=crlf
*.BI text eol=crlf
*.bas text eol=crlf
*.BAS text eol=crlf
*.txt text eol=crlf
*.TXT text eol=crlf
*.lnk text eol=crlf
*.LNK text eol=crlf
*.bat text eol=crlf
*.BAT text eol=crlf
