# Program files
*.EXE
COSTA.BAT

# Compiler leftovers
*.OBJ
~ELNK.TMP

# Costa run-time data
DATA/TEMP/
!DATA/TEMP/INFO.TXT

# Costa profile and configuration data
DATA/CONFIG/

# Mac system files
.DS_Store
