*.BAK
COSTA*.EXE
SETUP.EXE
ICONEDIT.EXE
FILESEL.EXE
SCRIPTER.EXE
DATA/TEMP/RUN.BAT
*.OBJ
~ELNK.TMP
DATA/TEMP/CONF.BLU
DATA/TEMP/CONF.GRN
DATA/TEMP/CONF.INT
DATA/TEMP/CONF.RED
DATA/TEMP/DESKTOP.BLU
DATA/TEMP/DESKTOP.GRN
DATA/TEMP/DESKTOP.INT
DATA/TEMP/DESKTOP.RED
DATA/TEMP/INPUTBOX.BLU
DATA/TEMP/INPUTBOX.GRN
DATA/TEMP/INPUTBOX.INT
DATA/TEMP/INPUTBOX.RED
DATA/TEMP/MSGBOX.BLU
DATA/TEMP/MSGBOX.GRN
DATA/TEMP/MSGBOX.INT
DATA/TEMP/MSGBOX.RED
DATA/TEMP/RUNSTAT.TMP
DATA/TEMP/ICONPREW.BLU
DATA/TEMP/ICONPREW.GRN
DATA/TEMP/ICONPREW.INT
DATA/TEMP/ICONPREW.RED
DATA/TEMP/LOADICON.BLU
DATA/TEMP/LOADICON.GRN
DATA/TEMP/LOADICON.INT
DATA/TEMP/LOADICON.RED