# Program files
*.EXE
COSTA.BAT

# Compiler leftovers
*.OBJ
~ELNK.TMP
*.QDB
*.DSK

# Costa run-time data
DATA/TEMP/

# Costa profile and configuration data
DATA/CONFIG/*.DAT
!DATA/CONFIG/FILETYPE.DAT

#Backups
*.BAK

# Mac system files
.DS_Store
*.TPU
*.RAW
