* text eol=crlf

*.{bsv,[bB][sS][vV]} binary
*.{com,[cC][oO][mM]} binary
*.{def,[dD][eE][fF]} binary
*.{dat,[dD][aA][tT]} binary
*.{exe,[eE][xX][eE]} binary
*.{bin,[bB][iI][nN]} binary

*.{mak,[mM][aA][kK]} eol=crlf
*.{bi,[bB][iI]} eol=crlf
*.{bas,[bB][aA][sS]} eol=crlf
*.{txt,[tT][xX][tT]} eol=crlf
*.{lnk,[lL][nN][kK]} eol=crlf
*.{bat,[bB][aA][tT]} eol=crlf
*.{pas[pP][aA][sS]} eol=crlf
*.{inc,[iI][nN][cC]} eol=crlf

