---
layout: default
title: Archive - The Costa Graphical User Interface
---
{% assign archiveversions = site.archive | sort: 'date' | reverse  %}
<div class="grey">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2 centered">
				<h1>The Archive</h1>
				<p>I have decided to make every previous version of Costa available for download.</p>
				<p>In the archive you will find a complete list of releases, with a changelog for each version.</p>
				<p>It's a long list, with releases spanning more than two decades.</p>
				<div class="dropdown">
					<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
					Jump to version
					<span class="caret"></span>
					</button>
					<ul class="dropdown-menu centerDropdown" aria-labelledby="dropdownMenu1">
						{% for archiveversion in archiveversions %}
						<li><a href="{{ site.baseURL }}/archive.html#version{{ archiveversion.versionid }}">{{ archiveversion.version }}</a></li>
						{% endfor %}
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>

{% for archiveversion in archiveversions %}

<div class="{% cycle 'white', 'grey' %}" id="version{{ archiveversion.versionid }}">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2">
				<h4>Version {{ archiveversion.version }}</h4>
				{% if archiveversion.unreleased %}
					<p>Unreleased</p>
					<p></p>
				{% else %}
					<p>Released on the {% assign day = archiveversion.date | date: "%-d"  %}
						{% case day %}
						{% when '1' or '21' or '31' %}{{ day }}st
						{% when '2' or '22' %}{{ day }}nd
						{% when '3' or '23' %}{{ day }}rd
						{% else %}{{ day }}th
						{% endcase %}
						{{ archiveversion.date | date: "of %B, %Y" }}</p>
					<p><a class="btn btn-default" href="{{ site.baseURL }}/screenshots/{{ archiveversion.versionid }}.html"><span class="glyphicon glyphicon-picture" aria-hidden="true"></span> Screenshot</a>
					<a class="btn btn-default" href="{{ site.baseURL }}/downloads/costa{{ archiveversion.versionid }}.zip"><span class="glyphicon glyphicon-floppy-save" aria-hidden="true"></span> Download</a></p>
				{% endif %}
				{{ archiveversion.content }}
				Path: {{ archiveversion.path }}
				Url: {{ archiveversion.url }}
				ID from path: {% archiveversion.path | split:"/" | last | split:"." | first %}
				<p><a href="{{ site.baseURL }}/archive.html#sitetop">Back to top</a></p>
			</div>
		</div>
	</div>
</div>

{% endfor %}