@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

body {
	background-color: #2f2f2f;
  	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	font-size: 16px;
	color: #555;
	-webkit-font-smoothing: antialiased;
	-webkit-overflow-scrolling: touch;
	padding-top: 50px;
}

/* Titles */
h1, h2, h3, h4, h5, h6 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	color: #333;
}

h1 {
	font-size: 35px;
	margin-top: 30px;
	margin-bottom: 30px;
}

h2 {
	font-size: 24px;
	margin-bottom: 30px;
}

h3 {
	font-size: 18px;
	margin-bottom: 30px;
}

/* Paragraph & Typographic */
p {
	line-height: 28px;
	margin-bottom: 25px;
}

.subheading {
	font-weight: bold;
	margin-top: -20px;
	color: #000000;
}

.centered {
	text-align: center;
}

/* Links */
a {
	color: #00AAAA;
	word-wrap: break-word;
	-webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
	-moz-transition: color 0.1s ease-in, background 0.1s ease-in;
	-ms-transition: color 0.1s ease-in, background 0.1s ease-in;
	-o-transition: color 0.1s ease-in, background 0.1s ease-in;
	transition: color 0.1s ease-in, background 0.1s ease-in;
}

a:hover,
a:focus {
	color: #7b7b7b;
	text-decoration: none;
	outline: 0;
}

a:before,
a:after {
	-webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
	-moz-transition: color 0.1s ease-in, background 0.1s ease-in;
	-ms-transition: color 0.1s ease-in, background 0.1s ease-in;
	-o-transition: color 0.1s ease-in, background 0.1s ease-in;
	transition: color 0.1s ease-in, background 0.1s ease-in;
}

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0;
}


/* Navbar */

.navbar-brand {
	font-weight: 700;
	font-size: 20px;
	letter-spacing: 2px;
}

.navbar-inverse .navbar-toggle .icon-bar {
	background-color: #9D9D9D !important;
}

.navbar-inverse .navbar-toggle {
    border-color: #9D9D9D;
}


.progress-bar-theme {
	background-color: #00AAAA;
}

.centerDropdown {
	left: 50%;
	right: auto;
	text-align: center;
	transform: translate(-50%, 0);
}


/* Helpers */

.mt {
	margin-top: 40px;
	margin-bottom: 40px;
}


/* +++++ WRAP SECTIONS +++++ */

#footer {
	background-color: #222;
	padding-top: 50px;
	padding-bottom: 50px; 
}

#footer p {
	color: white;
}

#footer h3 {
	color: white;
	text-transform: uppercase;
	margin-bottom: 10px;
}


/* +++++ Color Wraps / Blog Page +++++ */

.grey {
	padding-top: 60px;
	padding-bottom: 60px;
	background-color: #f2f2f2;
}

.white {
	padding-top: 60px;
	padding-bottom: 60px;
	background-color: #ffffff;
}

/* Blog Date*/
bd {
	font-size: 12px;
	text-transform: uppercase;
	color: #d2d2d2;
	font-weight: 700;
}

/* Blog Author*/
ba {
	font-size: 12px;
	text-transform: uppercase;
}

/* Blog Quote */
.bq {
	font-size: 22px;
	padding-top: 30px;
}

/* Blog Tags */
bt {
	font-size: 12px;
}

/* Thumbnail images */
.thumbnail {
	border: none !important;
}

/* BASIC code syntax highlight - sort of */
.highlight  {
	color: #aaaaaa;
	background: #0000aa;
}