body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Verdana, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
    color: #eee;
}

body {
    font-size: 16px;
    background-color: #222;
    -webkit-font-smoothing: antialiased;
}

a {
    color: #00b3b3;
}

a:hover,
a:focus {
    color: #00e6e6;
}

.lightcolor, .darkcolor-hover:hover {
    color: #eee!important;
    background-color: #3e3e42!important;
}

.darkcolor, .lightcolor-hover:hover {
    color: #eee!important;
    background-color: #2d2d30!important;
}

footer {
    color: #eee;
    background-color: #222;
}

.menubar {
    color: #eee;
    background-color: #222;
}

.menubar a {
    color: #eee;
    background-color: #222;
    text-decoration: none;
}

.menubar a:hover {
    color: #222;
    background-color: #eee;
}

.topnav-right {
    float: right;
}

.sitetitle {
    font-weight: 700;
    display: inline-block;
}

.blogpost p img {
    max-width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.posttime {
    font-size: 22px;
    margin-top: -10px;
}

.padding-left {
    padding-left: 8px;
}

.documentation h2, h3, h4, h5, h6 {
    margin-top: 32px;
}

div .highlighter-rouge {
    background-color: #222;
    border: 1px solid #1e1e1e;
}

div .language-vb,
div .language-powershell {
    padding-left: 16px;
    padding-right: 16px;
    overflow-x: scroll;
}

/* Comment */
code .c1 {
    color: green;
}

/* Buttons */
.w3-button {
    width: auto;
    border-radius: 15px;
    color: #eee;
    background-color: #222;
    border: 1px solid #1e1e1e;
}

.w3-button:hover {
    box-shadow: inset 0 0 0 1px #1e1e1e;
    color: #1e1e1e!important;
    background-color: #eee!important;
}

.w3-bar-block .w3-bar-item {
    color: #eee;
    background-color: #222;
}

.w3-bar-block .w3-bar-item:hover, .activeitem {
    color: #1e1e1e!important;
    background-color: #eee!important;
}

a.w3-bar-item {
    text-decoration: none;
}

.noround {
    border-radius: 0px!important;
}

.w3-border {
    border: 1px solid #1e1e1e !important;
}

@media print {
    .hidden-print {
      display: none !important;
    }

    .w3-content {
        max-width: 100%;
    }

    body {
        font-size: 16px;
    }
}
