---
layout: default
---
<div class="white">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2">
				<h4>Version {{ page.version }}</h4>
				{% if page.unavailable %}
					<p>Unreleased</p>
					<p></p>
				{% else %}
					<p>Released on the {% assign day = page.date | date: "%-d"  %}
						{% case day %}
						{% when '1' or '21' or '31' %}{{ day }}st
						{% when '2' or '22' %}{{ day }}nd
						{% when '3' or '23' %}{{ day }}rd
						{% else %}{{ day }}th
						{% endcase %}
						{{ page.date | date: "of %B, %Y" }}</p>
                    <p><a href="{{ site.baseURL }}/assets/img/archive/{{ page.versionid }}.png"><img src="{{ site.baseURL }}/assets/img/archive/{{ page.versionid }}.png" alt="Screenshot" style="width: 100%"></a></p>
                {% endif %}
				{{ content | markdownify }}
                {% if page.unavailable %}
                {% else %}
                <p></p>
                <div style="text-align: center;">
                    <a class="btn btn-default" href="{{ site.baseURL }}/downloads/costa{{ page.versionid }}.zip"><span class="glyphicon glyphicon-floppy-save" aria-hidden="true"></span> Download</a></p>
                </div>
                {% endif %}
                <p></p>
				<p><a href="{{ site.baseURL }}/archive.html">Back to archive</a></p>
			</div>
		</div>
	</div>
</div>