---
layout: default
---
{% include archivelist.html %}

<div class="w3-row-padding w3-padding-32 w3-container" id="versioninfo">
    <div class="w3-content">
		<div class="w3-center">
			<h2>Version {{ page.title }}</h2>
			{% if page.unavailable %}
				<p class="subheading">Unreleased</p>
				<p></p>
			{% else %}
				<p class="subheading">Released on the {% assign day = page.date | date: "%-d"  %}
					{% case day %}
					{% when '1' or '21' or '31' %}{{ day }}st
					{% when '2' or '22' %}{{ day }}nd
					{% when '3' or '23' %}{{ day }}rd
					{% else %}{{ day }}th
					{% endcase %}
					{{ page.date | date: "of %B, %Y" }}</p>
				<p><a href="{{ site.baseURL }}/assets/img/archive/{{ page.title | remove: '.' }}.png"><img src="{{ site.baseURL }}/assets/img/archive/{{ page.title | remove: '.' }}.png" alt="Screenshot" style="max-width: 100%"></a></p>
			{% endif %}
		</div>
		{{ content | markdownify }}
		{% unless page.unavailable %}
			<p></p>
			<div class="w3-center">
				<a class="w3-button w3-teal" href="{{ site.baseURL }}/downloads/costa{{ page.title | remove: '.' }}.zip">Download Costa {{ page.title }}</a></p>
			</div>
		{% endunless %}
		<p>To download the most recent version of Costa, <a href="{{ site.baseURL }}/index.html#downloads">head on over to the Download section</a>.</p>
    </div>
</div>