<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="{{site.description}}">
	<meta name="keywords" content="costa, gui, jacob, palm, qbasic, vbdos, visual, basic, walrus, hvalrossen, vb, qb, quickbasic, dos, shell">
	<meta name="author" content="Jacob Palm">

	<base href="{{ site.baseURL }}">
	
	<title>{{ page.title }}</title>

	<link rel="shortcut icon" href="{{ site.baseURL }}/favicon.ico">

	<link rel="stylesheet" href="{{ site.baseURL }}/assets/css/bootstrap.css">
	<link rel="stylesheet" href="{{ site.baseURL }}/assets/css/main.css">

	<link rel="canonical" href="https://costa.jacobpalm.dk">
	<link rel="alternate" type="application/atom+xml" title="{{ site.name }}" href="{{ site.baseURL }}/feed.xml">

	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
	<![endif]-->
</head>

<body id="sitetop">

  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#costa-navbar-collapse" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="index.html">The Costa GUI</a>
      </div>

      <div class="collapse navbar-collapse" id="costa-navbar-collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="{{ site.baseURL }}/index.html#about" class="hidden-xs">About</a></li>
          <li><a href="{{ site.baseURL }}/index.html#screens" class="hidden-xs">Screenshots</a></li>
          <li><a href="{{ site.baseURL }}/index.html#downloads" class="hidden-xs">Download</a></li>
          <li><a href="{{ site.baseURL }}/development.html" class="hidden-xs">Development</a></li>
          <li><a href="{{ site.baseURL }}/archive.html" class="hidden-xs">Archive</a></li>
          
          <li><a href="{{ site.baseURL }}/index.html#about" data-toggle="collapse" data-target="#costa-navbar-collapse" class="visible-xs">About</a></li>
          <li><a href="{{ site.baseURL }}/index.html#screens" data-toggle="collapse" data-target="#costa-navbar-collapse" class="visible-xs">Screenshots</a></li>
          <li><a href="{{ site.baseURL }}/index.html#downloads" data-toggle="collapse" data-target="#costa-navbar-collapse" class="visible-xs">Download</a></li>
          <li><a href="{{ site.baseURL }}/development.html" data-toggle="collapse" data-target="#costa-navbar-collapse" class="visible-xs">Development</a></li>
          <li><a href="{{ site.baseURL }}/archive.html" data-toggle="collapse" data-target="#costa-navbar-collapse" class="visible-xs">Archive</a></li>
        </ul>
      </div>
    </div>
  </nav>

{{ content }}

	<div id="footer">
		<div class="container">
			<div class="row">
				<div class="col-lg-4">
					<h4>The Author</h4>
					<p>Developed by <a href="https://github.com/jacobpalm">Jacob Palm</a>, a Danish IT-professional and hobby developer. Former maintainer of JacobPalm.dk GUI Reviews, one of the largest QB GUI sites at its time.
					</p>
				</div>

				<div class="col-lg-4">
					<h4>Interesting Links</h4>
					<p>
						<a href="https://dosprograms.info.tt/apps.htm" target="_blank">Interesting DOS programs</a><br/>
						<a href="https://clasqm.github.io/freedos-repo/Launchers.html" target="_blank">freeDOS-repo</a><br/>
						<a href="https://multiboot-windows.dscloud.me/All_Pages_for_DOS_GUIs/DG06_Costa.html" target="_blank">Multiboot Windows</a><br/>
						<a href="http://toastytech.com/guis/" target="_blank">ToastyTech GUI Gallery</a><br/>
						<a href="http://www.guidebookgallery.org/" target="_blank">GUIdebook Gallery</a>
						<a href="http://qbasicgui.datacomponents.net/192_costa080.html" target="_blank">Data Components GUI Reviews</a><br/>
						<a href="http://theguiblog.com/review?id=1" target="_blank">The GUI Blog</a><br/>
					</p>
				</div>

				<div class="col-lg-4">
					<h4>About Costa</h4>
					<p>Costa is a small and lightweight GUI (Graphical User Interface) for MS-DOS compatible systems, provided to you free of charge. Site &copy; 2004-{{ 'now' | date: "%Y" }} by <a href="https://github.com/jacobpalm">Jacob Palm</a>, software released under the MIT License.</p>
				</div>
			</div>
		</div>
	</div>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="{{ site.baseURL }}/assets/js/bootstrap.min.js"></script>
</body>
</html>
