---
layout: default
---
<div class="white">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h4>{{ page.title }}</h4>
                <p>Posted on the {% assign day = page.date | date: "%-d"  %}
                    {% case day %}
                      {% when '1' or '21' or '31' %}{{ day }}st
                      {% when '2' or '22' %}{{ day }}nd
                      {% when '3' or '23' %}{{ day }}rd
                      {% else %}{{ day }}th
                    {% endcase %}
                    {{ page.date | date: "of %B, %Y" }}</p>
                <p><a href="{{"/assets/img/blog/" | prepend: site.baseurl | append : page.img}}"><img src="{{"/assets/img/blog/" | prepend: site.baseurl | append : page.img}}" alt="Screenshot" style="width: 100%"></a></p>
                {{ content | markdownify }}
                <hr>
                <p><a href="{{ site.baseURL }}/development.html">Back</a></p>
            </div>
        </div>
    </div>
</div>