body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Verdana, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
    color: #333;
}

body {
    font-size: 16px;
    background-color: #222;
    -webkit-font-smoothing: antialiased;
}

a {
    color: #007c00;
}

a:hover,
a:focus {
    color: #7b7b7b;
}

footer {
    color: #fff;
    background-color: #222;
}

footer h5 {
    color: #fff;
    text-transform: uppercase;
}

.w3-button {
    width: auto;
}

.topnav-right {
    float: right;
}

.sitetitle {
    font-weight: 700;
    display: inline-block;
}

.blogpost p img {
    max-width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.posttime {
    font-size: 22px;
    margin-top: -10px;
}

.padding-left {
    padding-left: 8px;
}

.documentation h2, h3, h4, h5, h6 {
    margin-top: 32px;
}

div .highlighter-rouge {
    background-color: #f1f1f1;
    border: 1px solid #ccc;
}

div .language-vb,
div .language-powershell {
    padding-left: 16px;
    padding-right: 16px;
    overflow-x: scroll;
}

/* Comment */
code .c1 {
    color: green;
}

/* Buttons */
.w3-button {
    width: auto;
    border-radius: 15px;
    border: 1px solid #000;
}

.w3-button:hover {
    box-shadow: inset 0 0 0 1px #fff;
}

@media print {
    .hidden-print {
      display: none !important;
    }

    .w3-content {
        max-width: 100%;
    }

    body {
        font-size: 16px;
    }
}